<div class="window">
  <div class="window-content">
    <nav class="nav-group">
      <h5 class="nav-group-title">Favorites</h5>
      <a class="nav-group-item active">
        <span class="icon icon-home"></span>
        home
      </a>
      <span class="nav-group-item">
        <span class="icon icon-chat"></span>
        chat
      </span>
      <span class="nav-group-item">
        <span class="icon icon-rss"></span>
        news
      </span>
    </nav>
    <div class="pane">
      <nav>
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/authorized" routerLinkActive="active">Authorized</a>
      </nav>
    </div>
  </div>
</div>

<router-outlet></router-outlet>