<div class="window">
  <div class="window-content">
    <nav class="nav-group">

      <h5 class="nav-group-title">Favorites</h5>

      <a class="nav-group-item active" routerLink="/home" routerLinkActive="active">
        <span class="icon icon-home"></span>
        home
      </a>

      <a class="nav-group-item" routerLink="/chat" routerLinkActive="active">
        <span class="icon icon-chat"></span>
        chat
      </a>

      <a class="nav-group-item" routerLink="/news" routerLinkActive="active">
        <span class="icon icon-rss"></span>
        news
      </a>

    </nav>
    <div class="pane">

      <router-outlet></router-outlet>

    </div>

  </div>
</div>
